<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img id="logo" src="./images/legendary_logo.png" alt="">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <br>
    <img src="http://fanaru.com/pokemon/image/106950-pokemon-dragonite.png" alt="">
    <br>
    <br>
    <img class="profile" src="http://www.pngall.com/wp-content/uploads/2016/06/Pokemon-Download-PNG.png" alt="">
    <img src="http://www.pngmart.com/files/2/Legendary-Pokemon-PNG-File.png" alt="">
  </body>
</html>
