<!DOCTYPE html>
<html>
  <head>
    <title>Legendary Journey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <img id="logo" src="./images/legendary_logo.png" alt="">
  </body>
</html>
