html{
  background-color: #D3D3D3;
  /*background-color: #73CEF5;*/
}

body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

progress[value]{
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  height: 20px;
}

progress[value]::-webkit-progress-value {
  background: rgb(25, 230, 40);
}

progress[value]::-webkit-progress-bar{
  color: blue;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

nav {
  position: relative;
}

.nav-wrapper {
  background-color: #A4AFB9;
  /*background-color: #1D70A2;*/
}

.nav-wrapper li {
  color: #73CEF5
}

.nav_links {
  font-weight: bold;
  color: red;
}

#redLink{
  font-weight: bold;
  color: red;
}

#logo{
  margin-top: 8px;
  margin-left: 10px;
  height: 50px;
}

#bigProfile{
  height: 400px;
  width: 400px;
}

.collapsible-header{
  background-color: #969696;
  font-size: 1.4rem;
}

.collapsible-header span{
  font-size: 1.1rem;
  padding-top: 1.5px;
  align-self: center;
  color: black;
}

.collapsible-body{
  background-color: white;
  display: block;
}

.material-icons{
  margin-left: 15%;
  float: left;
}

.badge {
  margin-right: 10%;
  float: right;
}

nav ul a {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
}

.circle {
  height: 25px !important;
  width: 25px;

  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: black;
  color: white !important;
  text-align: center;
}
