<nav-header></nav-header>
<div class="row">
  <div class="col m1"></div>
  <div class="col m10">
    <br>
    <table>
      <thead>
        <th>
          <a href="#" ng-click="orderByField='type'; reverseSort = !reverseSort">Type
              <span ng-show="orderByField == 'type'">
                <span ng-show="!reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                <span ng-show="reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
              </span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">Name
            <span ng-show="orderByField == 'name'">
              <span ng-show="!reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
              <span ng-show="reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
            </span>
        </a></th>
        <th>
          <a href="#" ng-click="orderByField='xp_amount'; reverseSort = !reverseSort">XP Amount
              <span ng-show="orderByField == 'xp_amount'">
                <span ng-show="!reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                <span ng-show="reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
              </span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='project'; reverseSort = !reverseSort">Project
              <span ng-show="orderByField == 'project'">
                <span ng-show="!reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                <span ng-show="reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
              </span>
          </a>
        </th>
        <!-- <th>
          <a href="#" ng-click="orderByField='status'; reverseSort = !reverseSort">Status
              <span ng-show="orderByField == 'status'">
                <span ng-show="!reverseSort"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                <span ng-show="reverseSort"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
              </span>
          </a>
        </th> -->
      </thead>
      <tbody>
        <tr ng-repeat="quest in $ctrl.userData | orderBy: orderByField:reverseSort">
          <td>{{quest.type}}</td>
          <td>{{quest.name}}</td>
          <td>{{quest.xp_amount}}</td>
          <td>{{quest.project_name}}</td>
          <!-- <td>{{quest.complete}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col m1"></div>
</div>
