<div class="row center-align">
    <div class="col m3">
      <br>
        <h4><b>Company Contribution</b></h4>
        <div id="chart_div"></div>
        <p><b>Current contribution percentage 28.5%</b></p>
    </div>
    <div class="col m1">

    </div>
    <div class="col m4">
        <br>
        <br>
        <img id="bigProfile" src="https://www.awicons.com/free-icons/download/application-icons/dragon-soft-icons-by-artua.com/png/512/User.png" alt="">
        <h2>Team:</h2>
        <h4><b>g48 - Reid</b></h4>
    </div>
    <div class="col m1">

    </div>
    <div class="col m3">
        <div class="row">
          <br>
            <h4><b>Levels</b></h4>
            <ul class="collapsible levels" data-collapsible="expandable">
                <li>
                    <div ng-click="showLevelDetails=!showLevelDetails" class="collapsible-header background"><b
                      class="material-icons">JavaScript</b><span class="badge">5</span>
                      <br>
                      <progress value="50" max="100"></progress>
                    </div>
                    <div ng-if="showLevelDetails" class="collapsible-body"><span>
                      <table>
                        <tr>
                          <td><a href="#" data-qid="" data-skill="javascript">Main</a></td>
                          <td>20,000 XP</td>
                        </tr>
                      </table>
                    </span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
