<nav-header></nav-header>
<div class="row center-align">
    <div class="col m3">
      <br>
        <h4><b>Company Contribution</b></h4>
        <div id="chart_div" ></div>
        <p><b>You are currently working on XX% of the company's overall corporate iniatives</b></p>
    </div>
    <div class="col m1">

    </div>
    <div class="col m4">
        <br>
        <br>
        <img id="bigProfile" ng-src="{{$ctrl.userData.avatar_url}}" alt="">
        <br>
        <h4 id='userName' data-uid="{{$ctrl.userData.id}}">{{$ctrl.userData.first_name}} {{$ctrl.userData.last_name}}</h4>
        <h4><b>{{$ctrl.userData.team_name}}</b></h4>
    </div>
    <div class="col m1">

    </div>
    <div class="col m3">
        <div class="row">
          <br>
            <h4><b>Levels</b></h4>
            <ul class="collapsible levels" data-collapsible="expandable">
                <li ng-repeat="skill in $ctrl.userData.skills | orderBy:'-level'">
                    <div ng-click="showLevelDetails=!showLevelDetails" class="collapsible-header background"><b>{{skill.name}}</b><span class="badge circle">{{skill.level}}</span>
                      <br>
                      <progress value="{{$ctrl.generateLowProgress(skill.xp_gained, skill.level_cap)}}" max="100"></progress>
                    </div>
                    <div ng-if="showLevelDetails" class="collapsible-body"><span>
                      <table>
                        <tr ng-repeat="quest in skill.quests">
                          <td><a ui-sref="quests" data-qid="{{quest.qID}}" data-skill="javascript">{{quest.qName}}</a></td>
                          <td>{{quest.xp_amount}}</td>
                        </tr>
                      </table>
                    </span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
