<div class="row center-align">
    <div class="col m3">
      <br>
        <h4><b>Company Contribution</b></h4>
        <div id="chart_div" ></div>
        <p><b>Current contribution percentage 28.5%</b></p>
    </div>
    <div class="col m1">

    </div>
    <div class="col m4">
        <br>
        <br>
        <!-- <img id="bigProfile" src="https://www.awicons.com/free-icons/download/application-icons/dragon-soft-icons-by-artua.com/png/512/User.png" alt=""> -->
        <img id="bigProfile" ng-src="{{$ctrl.userData.avatar_url}}" alt="">
        <br>
        <h4>{{$ctrl.userData.first_name}} {{$ctrl.userData.last_name}}</h4>
        <h4><b>{{$ctrl.userData.team_name}}</b></h4>
    </div>
    <div class="col m1">

    </div>
    <div class="col m3">
        <div class="row">
          <br>
            <h4><b>Levels</b></h4>
            <ul class="collapsible levels" data-collapsible="expandable">
                <li ng-repeat="skill in $ctrl.userData.skills">
                    <div ng-click="showLevelDetails=!showLevelDetails" class="collapsible-header background"><b
                      class="material-icons">{{skill.name}}</b><span class="badge">{{skill.level}}</span>
                      <br>
                      <progress value="{{skill.xp_gained}}" max="{{skill.level_cap}}"></progress>
                    </div>
                    <div ng-if="showLevelDetails" class="collapsible-body"><span>
                      <table>
                        <tr ng-repeat="quest in skill.quests">
                          <td><a href="#" data-qid="{{quest.qID}}" data-skill="javascript">{{quest.qName}}</a></td>
                          <td>{{quest.xp_amount}}</td>
                        </tr>
                      </table>
                    </span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
